

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--sans-serif);
  margin: 1rem 0 4rem;
  text-wrap: balance;
  text-align: center;
}

#observablehq-header {
  position: sticky;
  top: 0px;
  z-index: 900;
  background: var(--theme-background);
}

.hero h1 {
  margin: 1rem 0;
  padding: 1rem 0;
  max-width: none;
  font-size: 14vw;
  font-weight: 900;
  line-height: 1;
  background: linear-gradient(
    30deg,
    var(--theme-foreground-focus),
    currentColor
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero h2 {
  margin: 0;
  max-width: 34em;
  font-size: 20px;
  font-style: initial;
  font-weight: 500;
  line-height: 1.5;
  color: var(--theme-foreground-muted);
}

@media (min-width: 640px) {
  .hero h1 {
    font-size: 90px;
  }
}
 
/* #observablehq-sidebar {
    top: 3em
} */

.menuarea{
  display: flex;   
  align-items: center;
  justify-content: space-between;
}

.obsbar {
  overflow: hidden;
  z-index: 999;
  position: sticky;
  top: 0;  
  gap: 0.5rem;
  /* height: 14rem; */
  margin: -1.5rem -2rem 2rem -2rem;
  padding: 0.5rem 0rem;
  border-bottom: solid 2px var(--theme-foreground-focus);
  font: 500 16px var(--sans-serif);
  background-color: var(--theme-background);
}

.sectiontitle{
    background-color:var(--theme-background-alt);
    color:var(--theme-foreground-focus);
    font-size:1.5em

}


.obsbar a  {
  text-decoration: none;
  
  /* background-color: var(--theme-foreground); */
  color: var(--theme-foreground);
  font-weight: bold;
}

.obsbar a:hover {
  text-decoration: none;
  /* transform: scale(1.5); */
  /* font-weight: normal; */

  background-color: var(--theme-background-alt);
  color: var(--theme-foreground-focus);
}

.editornote::before {
  content: "Editor Note:";
}

.editornote {
  display: block;
  /*width : 12em;*/
  /*float:right;*/
  margin-bottom: 2em;
  /* padding-bottom: 2em; */
  /*height : 40em;*/
  color: var(--theme-foreground-focus);
  border-width: 0.1em;
  font-size: smaller;
  /* border-style:  groove; */
  border-radius: 2px;
  font-style: italic;
  border-color: var(--theme-foreground-muted);
  /*padding:1em;*/
}
  